<h2>Bienvenue sur votre dashboard</h2>

<div>
  <h3>Mon poulailler</h3>
<% current_user.hens.each do |hen| %>
  <%= link_to hen.name, hen_path(hen) %>
  <%= hen.description %>
  <%= hen.price_per_day %>
  <%= link_to 'Modifier ma poule', edit_hen_path(hen) %>
  <%= link_to 'Supprimer ma poule', hen_path(hen), method: :delete, data: { confirm: "Are you sure?" } %>
  <img src=<%= hen.photo %> alt="">
  <% end %>
</div>
<div>
  <h3>Mes réservations</h3>
  <% current_user.reservations.each do |resa| %>
  <p> Du<%= resa.start_date %> Au <%= resa.end_date %></p>
  <%= resa.hen.photo %>
  <%= resa.hen.name %>
  <p>Prix total : <%= resa.total_price %> €</p>
  <% end %>
</div>

<div>
  <%= link_to "Ajouter une Poule", new_hen_path %>
</div>
<div>
  <%= link_to "Retourner à la liste des poules", hens_path %>
</div>
