<div class="container">
  <h2>Tableau de bord</h2>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="hens_infos">
        <h3>Mon poulailler</h3>
        <% current_user.hens.each do |hen| %>
          <div class="hen_infos__identity">
            <%= link_to hen_path(hen), style:"background-image: url( #{hen.photo} )" do %>
              <h4><%=hen.name%></h4>
            <% end %>
            <%= link_to 'Modifier ma poule', edit_hen_path(hen) %>
            <%= link_to 'Supprimer ma poule', hen_path(hen), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="hens_infos">
        <h3>Détail des réservations</h3>
        <% current_user.reservations.each do |resa| %>
          <div class="hen_infos__identity">
            <!-- <p> Du<%= resa.start_date %> Au <%= resa.end_date %></p> -->
            <!-- <%= resa.hen.photo %> -->
            <!--<%= resa.hen.name %> -->
            <!-- <p>Prix total : <%= resa.total_price %> €</p> -->
          </div>
        <% end %>
        <div>
          <%= link_to "Ajouter une Poule", new_hen_path %>
        </div>
        <div>
          <%= link_to "Retourner à la liste des poules", hens_path %>
        </div>
      </div>
    </div>
  </div>
</div>
