<h2>Modifier ma poule</h2>
<%= simple_form_for(@hen) do |f| %>
<div class="row justify-content-center">
  <div class="col-12 col-lg-6 col-lg-4">
    <div class="form-inputs">
      <div class="form-group">
        <%= f.input :name %>
        <%= f.input :price_per_day %>
        <%= f.input :eggs_per_day %>
        <%= f.input :city %>
        <%= f.input :description %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, class: "btn btn-secondary" %>
</div>
<% end %>
<%= link_to 'Revenir à mon dashboard', dashboard_path %>
