<h2>Réserver ma poule</h2>
<div class="container">
  <div class="row">
    <% @hens.each do |hen| %>
    <div class="col-12 col-md-6 col-lg-3">
    <div class="card" >
      <!-- <img src=<%= hen.photo %> alt="Hen"> -->
      <div class="card-title" style="background-image: url(<%= hen.photo %>)">
        <h4><%= link_to hen.name, hen_path(hen) %></h4>
      </div>
      <div class="card-description">
        <p>Ponte journalière: <%= hen.eggs_per_day %> oeufs/par jour</p>
        <p><%= hen.price_per_day %>€</p>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>
